<%= render "shared/header" %>

<div class='main'>
  <div class='title-contents'>
      <div class='dates'>
        <div class='date_day'>
          <%= @time.day %>
        </div>
        <div class='date_year'>
          <%= @time.year %>.<%= @time.month %>
        </div>
      </div>
  </div>

<%# お知らせ  %>
  <div class='notice-contents'>
  <h2 class="heading-name">お知らせ</h2>
      <ul class="messages">
        <li class="message">
          <div class="message-date">2019/10/06</div>
          <div>送迎時間の変更について</div>
        </li>
        <li class="message">
          <div class="message-date">2019/10/03</div>
          <div>ひな祭りイベントの開催日のお知らせ</div>
        </li>
        <li class="message">
          <div class="message-date">2019/09/27</div>
          <div>宿泊時の職員体制について</div>
        </li>
      </ul>
  </div>
<%# お知らせ  %>

<%# 連絡ノート  %>
  <div class='note-contents'>
    <h2 class='title'>連絡ノート</h2>
    <div class="subtitle" >
      新規投稿商品
    </div>
    <ul class='note-lists'>

      <% @notes.each do |note| %>
        <li class='list'>
          <%= link_to note_path(note.id) do %>
          <div class='note-img-content'>
            <%= image_tag note.image, class: "note-img" %>
             <p><%=note.record_date.month %>/<%=note.record_date.day %></p>
          </div>
          <% end %>
        </li>
      <% end %>

  </div>
<%# 連絡ノート  %>
</div>