<body>

  <div class='main--title'>
    <div class='top-title'>
      
    </div>
    <div class='top-title'>
      A FEELING OF CARING FOR OTHERS
    </div>
    <div class='sub-title'>
      <%= link_to image_tag("ohana-logo-mark.png", class:"ohana-icon"), "/" %>
      O H A N A
    </div>
    <div class='dates'>
      <div class='date_day'>
        <%= @time.day %>
      </div>
      <div class='date_year'>
        <%= @time.year %>.<%= @time.month %>
      </div>
    </div>
    </div>
  </div>

  <header class="header">
  <%= render "shared/header" %>
  </header>


   
    <%# 連絡ノート一覧  %>
  <div class='note-contents'>
    <h2 class='title'>過去のノート</h2>
    <ul class='note-lists'>
      <% @notes.order(record_date: :desc).each do |note| %>
        <% if note.id.present? %>
        <%# データがある時  %>
        <li class='list'>
            <%= link_to note_path(note.id) do %>
            <div class='note-img-contents'>
              <div class='note-img-content'>
                <% if note.image.present? %>
                  <%= image_tag note.image, class: "note-img" %>
                <% else %>
                  <%= image_tag "no-image.jpg", class: "note-img" %>
                <% end %>
              </div>
            <% end %>
              <div class='note-list-tb'>
                <table width="100%" height="100%", class="tb_list">
                  <tr bgcolor="#f5f5f5" height="30">
                      <td>担当者：<%= note.responsible_person %></td>
                  </tr>
                  <tr bgcolor="white">
                      <td valign="top" class="tb_text"><%= note.diary.truncate(50, omission: '~~~') %>
                  </tr>
                </table>
              </div>
            </div>
        </li>
        <%# データがある時  %>
        <% else %>
        <%# データがない時  %>
        <li class='list'>
            <div class='note-img-contents'>
              <div class='note-img-content'>
                  <%= image_tag "no-image.jpg", class: "note-img" %>
              </div>
              <div class='note-list-tb'>
                <table width="100%" height="100%", class="tb_list">
                  <tr bgcolor="#f5f5f5" height="30">
                      <td>担当者：</td>
                  </tr>
                  <tr bgcolor="white">
                      <td valign="top" class="tb_text"></td>
                  </tr>
                </table>
              </div>
            </div>
        </li>
        <%# データがない時  %>
        <% end %>
      <% end %>
    </ul>
  </div>
  <%# 連絡ノート  %>
  
</body>
  <footter class="footter">
  <%= render "shared/footter" %>
  </footter>