<div class="note-sell-contents">

  <%= render "shared/second-header"%>

  <%# <div class='form-wrap'> %>
    <div class="note-sell-main">
      <%= form_with model: @note, local: true do |f| %>
       <%= render 'shared/error_messages', model: f.object %>
      <%# 画像アップロード %>
        <div class="img-upload">
          <div class="weight-bold-text">
            写真アップロード
          </div>
          <div class="click-upload">
              <%= f.file_field :image, id:"note-image" %>
          </div>
        </div>
      <%# 画像アップロード %>
      <div class="items-detail">
        <div class="form">
          <%# 利用者様名選択 %>
          <div class="weight-bold-text">
            利用者様名の選択
            <span class="indispensable">必須</span>
          </div>
          <%#= f.collection_select(:facility_user, User.all, :id, :facility_user, {}, {class:"select-box", id:"item-shipping-fee-status"}) %>  <%# id数値で保存したい場合 %>
           <%#= f.collection_select(:facility_user, User.all, :facility_user, :name, {}, {class: "select-box", id: "item-shipping-fee-status"}) %> 
           <%= f.collection_select(:facility_user, User.where.not(id: 1), :facility_user, :name, {}, {class: "select-box", id: "item-shipping-fee-status"}) %>





          <%# 担当者 %>
          <div class="weight-bold-text">
              担当者
            <span class="indispensable">必須</span>
          </div>
          <%= f.text_field :responsible_person, class:"items-text", id:"item-name", placeholder:"本日の担当者名", maxlength:"10" %>
          
          <%# 利用種類 %>
          <div class="weight-bold-text">
            利用種類
            <span class="indispensable">必須</span>
          </div>
          <%= f.collection_select(:usage_type_id, UsageType.all, :id, :name, {}, {class:"select-box", id:"item-shipping-fee-status"}) %>

           <%# 利用日 %>
          <div class="weight-bold-text">
            <label class="control-label" for="">利用日</label>
            <span class="indispensable">必須</span>
          </div>
          <%# <input type="date" :record_date, name="今日の日付" value="" class="select-box", placeholder="年 / 月 / 日" /> %>
          <%= f.date_field :record_date, class:"items-text", id:"note-record_date", placeholder:"利用日" %>

          <%# 利用時間 %>
          <div class="weight-bold-text">
            <label class="control-label" for="">利用時間</label>
            <span class="indispensable">必須</span>
          </div>
          <%# <input type="time" :utilization_time, name="利用時間" step="300", value="" class="select-box"/> %>
          <%= f.time_field :utilization_time, :minute_step => 10, class:"items-text", id:"note-utilization_time", placeholder:"利用時間" %>
          <%# 天候 %>
          <div class="weight-bold-text">
            天候
            <span class="indispensable">必須</span>
          </div>
          <%= f.collection_select(:weather_id, Weather.all, :id, :name, {}, {class:"select-box", id:"item-shipping-fee-status"}) %>


            

          
          <%# 体温 %>
          <div class="weight-bold-text">
              体温
              <span class="indispensable">必須</span>
            </div>
            <%= f.text_field :body_temperature, class:"items-text", id:"item-name", placeholder:"36.0", maxlength:"6" %>
            

          <%# 脈拍 %>
          <div class="weight-bold-text">
              脈拍
              <span class="indispensable">必須</span>
            </div>
            <%= f.text_field :pulse, class:"items-text", id:"item-name", placeholder:"90", maxlength:"3" %>
            

          <%# 血圧 %>
          <div class="weight-bold-text">
              最高血圧
              <span class="indispensable">必須</span>
            </div>
            <%= f.text_field :sbp, class:"items-text", id:"item-name", placeholder:"115", maxlength:"10" %>
          
          <div class="weight-bold-text">
              最低血圧
              <span class="indispensable">必須</span>
            </div>
            <%= f.text_field :dbp, class:"items-text", id:"item-name", placeholder:"75", maxlength:"10" %>

          <%# 服薬 %>
            <div class="weight-bold-text">
              服薬
              <span class="indispensable">必須</span>
            </div>
            <%= f.collection_select(:taking_medicine_id, TakingMedicine.all, :id, :name, {}, {class:"select-box", id:"item-shipping-fee-status"}) %>
          

            <%# 入浴 %>
            <div class="weight-bold-text">
              入浴
            <span class="indispensable">必須</span>
            </div>
            <%= f.collection_select(:bathing_id, Bathing.all, :id, :name, {}, {class:"select-box", id:"item-shipping-fee-status"}) %>

            <%# 日記 %>
          <div class="weight-bold-text">
              担当者からのコメント
            <span class="indispensable">必須</span>
          </div>
          <%= f.text_area :diary, class:"diary-text", id:"item-name", placeholder:"今日の出来事" %>

            <%# 下部ボタン %>
            <div class="sell-btn-contents">
              <%= f.submit "確定" ,class:"sell-btn" %><br>
              <div class="back-btn-contents">
                <%=link_to 'もどる', root_path, class:"back-btn" %>
              </div>
            </div>
        </div>
      </div>
    </div>
    <% end %>
  <%# </div> %>
</div>

<%= render "shared/second-footer" %>
