<%= render "shared/header" %>

<div class='main'>
  <div class='title-contents'>
      <div class='dates'>
        <div class='date_day'>
          <%= @time.day %>
        </div>
        <div class='date_year'>
          <%= @time.year %>.<%= @time.month %>
        </div>
      </div>
  </div>


<%# 全体 %>
<div class="note-show-whole">
  <div class="note-show-adjustment">

<%# 編集・削除 %>
  <% if user_signed_in? %>
      <% if current_user == @note.user%>
        <%= link_to "商品の編集", edit_note_path(@note.id), method: :get, class: "note-red-btn" %>
        <p class="or-text">or</p>
        <%= link_to "削除",note_path(@note.id), method: :delete, class:"note-destroy" %>
      <% end %>
    <% end %>
    <%# 編集・削除 %>

    <%# 画像 %>
    <div class="note-img">
    <%= image_tag @note.image, class:"note-box-img" %>
    </div>
    <%# 画像 %>

    <%# ノート上部 %>
    <div class="note-record-top">
      <div class="note-record-person">
      【担当者】 <%= @note.responsible_person %>
      </div>
      <div class="note-record-weather">
      <%= @note.record_date %> <%# 利用日 %>
      <%= @note.weather.name %> <%# 天気予報 %>
      </div>
    </div>
    
    <%# 表情上部 %>
    <table>
      <tr bgcolor="#ffffc0">
        <th scope="col">利用時間</th>
        <th scope="col">利用種類</th>
        <th scope="col">体温</th>
        <th scope="col">脈拍</th>
        <th scope="col">血圧</th>
        <th scope="col">服薬</th>
        <th scope="col">入浴</th> 
      </tr>
      <tr>
          <td><%= @note.utilization_time.hour %>:<%= @note.utilization_time.min %></td>
          <td><%= @note.usage_type.name %></td>
          <td><%= @note.body_temperature %></td>
          <td><%= @note.pulse %></td>
          <td><%= @note.blood_pressure %></td>
          <td><%= @note.taking_medicine.name %></td>
          <td><%= @note.bathing.name %></td>
      </tr>
    </table>
    <%# 表情上部 %>

    <%# 献立 %>
    <table>
        <tr bgcolor="#ffffc0">  
        <td colspan="2"rowspan="2" >今日の献立</td>     
          <td colspan="2">摂取量</td>      
      </tr>
        <tr bgcolor="#ffffc0">
          <th colspan ="1" width="15%">主</th>
          <th colspan="1" width="15%">副</th>
        </tr>

      <%# 朝食 %>
      <tr>
          <th scope="row" width="15%">朝</th>
          <td>パン、　牛乳</td>
          <td>8</td>
          <td>10</td>
      </tr>
      <%# 昼食 %>
      <tr>
          <th scope="row" width="15%">昼</th>
          <td>ご飯、　味噌汁、　ほうれん草</td>
          <td>7</td>
          <td>10</td>
      </tr>
      <%# 夕食 %>
      <tr>
          <th scope="row" width="15%">夕</th>
          <td>カレー、サラダ</td>
          <td>6</td>
          <td>10</td>
      </tr>
    <%# 献立 %>

    <%# コメント %>
    <table>
      <tr bgcolor="#ffffc0" height="25"> 
          <th scope="col">施設より</th>
          <th scope="col">ご家族より</th>
      </tr>
      <tr width="80" height="100">
          <td width="50%"><%= @note.diary %></td>
          <td width="50%">  </td>
      </tr>
    </table>
          <%# コメント %>
          <div class="container">
            <% if user_signed_in? %>
              <%= form_with(model: [@note, @comment], local: true) do |form| %>
                <%= form.text_area :text, placeholder: "コメントする", rows: "2" %>
                <%= form.submit "コメントする" %>
              <% end %>
              <% else %>
                <strong><p>※※※ コメントの投稿には新規登録/ログインが必要です ※※※</p>
                </strong>
              <% end %>
              <div class="comments">
              <h4>＜コメント一覧＞</h4>
              <% @comments.each do |comment| %>
                <%# <p> %>
                  <%= comment.text %>
                <%# </p> %>
              <% end %>
          </div>
          <%# コメント %>
  </div>
</div>
