<%= render "shared/second-header"%>
  <header class="header">
   <%= render "shared/header" %>
  </header>

<%# 全体 %>
<div class="note-show-whole">
   <%# 連絡ノート一覧  %>
  <div class='note-contents'>
    <% if user_signed_in? && @notes.present? %>
      <ul class='note-lists'>
        <% @notes.order(record_date: :desc).each do |note| %>
          <%# データがある時  %>
          <li class='list'>
              <%= link_to note_path(note.id) do %>
              <div class='note-img-contents'>
                <div class='note-img-content'>
                  <%= note.record_date.month %>/<%= note.record_date.day %><br>
                  <% if note.image.present? %>
                    <%= image_tag note.image, class: "note-img" %>
                  <% else %>
                    <%= image_tag "no-image.jpg", class: "note-img" %>
                  <% end %>
                </div>
              </div>
              <% end %>
          </li>
          <%# データがある時  %>
        <% end %>
      </ul>
    <% else %> 
      <ul class='note-lists'>
          <%# データがない時  %>
          <li class='list'>
              <div class='note-img-contents'>
                <div class='note-img-content'>
                    <%= image_tag "no-image.jpg", class: "note-img" %>
                </div>
              </div>
          </li>
          <%# データがない時 %>
    <% end %>
      </ul>
  </div>
  <%# 連絡ノート  %>    



</div>
<%= render "shared/second-footer" %>