<%= render "shared/second-header"%>
  <header class="header">
   <%= render "shared/header" %>
  </header>

<%# 全体 %>
<div class="note-show-whole">
  <%# ご利用者情報 %>
  <div class="note-show-whole-top">
    <div class="prf__whole">
    <table class="user_show_tbr">
      <tr>
        <th class="user_show_th" colspan="2" scope="col">ご利用情報</th>
      </tr>
      <tr>
          <th class="user_show_th" scope="row">利用者様家族名</th>
          <td class="user_show_tb" ><%= @user.name %></td>
      </tr>
      <tr>
          <th class="user_show_th" scope="row">利用者様名</th>
          <td class="user_show_tb" ><%= @user.facility_user %></td>
      </tr>
      <tr>
          <th class="user_show_th" scope="row">生年月日</th>
          <td class="user_show_tb" ><%= @user.birthday %></td>
      </tr>
      <tr>
          <th class="user_show_th" scope="row">血液型</th>
          <td class="user_show_tb" ><%= @user.blood_type_id %></td>
      </tr>
      <tr>
            <th class="user_show_th" scope="row">緊急連絡先</th>
            <td class="user_show_tb" ><%= @user.phone_number %></td>
        </tr>
          <tr>
            <th class="user_show_th" scope="row">利用開始日</th>
            <td class="user_show_tb" ><%= @user.start_date %></td>
        </tr>
    </table>
    </div>
    <%# グラフ %>
    <div class="chart-class">
      <%= line_chart Note.order(:record_date).pluck("date_format(record_date, '%m/%d')", :body_temperature), xtitle: '利用日', ytitle: '体温', min: 33, max: 45, class: 'my-chart-class' %>
    </div>
  </div>

</div>
<%= render "shared/second-footer" %>