<%# CSS・・・assets/stylesheets/shared/header.css %>
<header>
  <div class="header_top">
    <%# <div class="logo"> %>
      <%# <%= link_to image_tag("ohana-logo-mark.png", class:"ohana-icon"), "/" %> 
    <%# </div> %>
    <nav>
      <ul>
        <li><%= link_to 'トップページ', root_path, class: "notice" %></li>
          <%# 管理者専用用ページ  %>
          <% if user_signed_in? && current_user.id == 1 %>
            <li><%= link_to 'ノート記入', new_note_path, class: "new-note" %></li>
            <li><%= link_to "管理者専用", users_path, class: "admin-page" %>
          <% end %>
          
          <% if user_signed_in? %>
            <li> <%= link_to "#{current_user.name}さん", "/users/#{current_user.id}", class: "show-page" %></li>
            <li> <%= link_to 'ログアウト', destroy_user_session_path, method: :delete, class: "logout" %></li>
          <% else %>
            <li><%= link_to 'ログイン', new_user_session_path, class: "login" %></li>
            <li> <%= link_to '新規登録', new_user_registration_path, class: "sign-up" %></li>
          <% end %>
    </nav>
  </div>
</header>
